.shortcutInput {
  display: flex;
  border: 1px solid #ececec;
  border-radius: .25em;
}

.shortcutInput input {
  flex: 1;
  line-height: 1.5;
  border:none;
  border-radius: .25em;
}

.shortcutInput button.controls {
  width: 2em;
  border: none ;
  margin: 0;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
}

.shortcut .overlay {
  margin-left: 2em;
  overflow-y: auto;
  max-height: 80vh;
}
  
.shortcut .overlay table.rules {
  min-height: 2em;
}

input {
  font-family:"Gentium Plus";
}

.shortcut .overlay table.rules  {
  font-family:"Gentium Plus";
  border-collapse: collapse;
  position:relative;
}

.shortcut .overlay table.rules  td {
  font-weight:bold;
}

.shortcut .overlay table.rules  th {
  background:#ececec;
  font-weight:normal;
}
.shortcut .overlay table.rules  td, th {
  border: 1px solid #ececec;
  padding: .25em;
}

.shortcut .overlay table .addRule th {
}

.shortcut .overlay table .addRule th input {
}

.shortcut .overlay.hidden {
  display:none;
}

